# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env/
venv/
ENV/
*.env
.venv/
.conda/
*.ipynb_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert.ipynb

# Data files
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.db

# Logs and system files
*.log
.DS_Store
Thumbs.db

# VS Code / IDE configs
.vscode/
.idea/

# Colab temporary files
.gdrive/
